.bottle(@size) {
  @bottle-width: 18.625rem * @size;
  @bottle-height: 62.375rem * @size;
  text-align: center;

  background: #222 url('../img/bottle-desk-bg.jpg') left bottom;
  background-size: cover;

  .desk {
    width: 100%;
    height: 5.25rem * @size;
    position: absolute;
    bottom: 0;
    background: url('../img/bottle-desk.jpg') left bottom;
    background-size: cover;
  }
  .bottle {
    width: @bottle-width;
    height: @bottle-height;
    margin-left: -@bottle-width / 2;
    left:50%;
    background: url('../img/bottle.png') center bottom no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 100%;

    z-index: 1;

    @bottom-label-height: 12.5rem * @size;
    @shade-height: 3rem * @size;

    .label {
      position: absolute;
      bottom: @bottom-label-height;
      width: inherit;
    }

    .shade {
      position: absolute;
      height: @shade-height;
      bottom: @bottom-label-height;
      display: inline-block;
      right: 0;
      width: 100%;
      background: url(../img/bottle-label.png) right;
      background-size: cover;
      z-index: 1;
    }
    .ugc-name {
      white-space: nowrap;
      color: #fff;
      font-size: 2rem * @size;
      line-height: 2rem * @size;
      display: inline-block;

      span {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      }
    }
  }

  @printWidth: 36.25rem * @size;
  @printHeight: 19.3125rem * @size;

  .printer {
    width: @printWidth;
    height: @printHeight;
    position: absolute;
    top: 100%;
    left: 100%;
    background: url('../img/printer.png');
    background-size: cover;
    z-index: 3;
  }

}

#bottle {
  .bottle(1.5);
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  #bottle {
    .bottle(1.3);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #bottle {
    .bottle(1);
  }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  #bottle {
    .bottle(0.65);
  }
}

@media screen and (max-width: 580px) {
  #bottle {
    .bottle(0.45);
  }
}