#form {
  z-index: 99;
  background: url(../img/form-bg.jpg) no-repeat;
  background-size: cover;
  .header {
    text-align: center;
    padding-top: 15%;
    img {
      display: block;
    }
    .text1 {
      margin: 0 auto;
      width: 20%;
    }
    .headline {
      width: 45%;
      margin: 1% auto 2%;
    }
    .text2 {
      margin: 0 auto;
      width: 40%;
    }
  }
  .form {
    .upload {
      position: absolute;
      left: 18%;
      top: 74%;
      z-index: 8;
      letter-spacing: 4px;
      .file {
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      .text {
        width: 101%;
        height: 20px;
        line-height: 20px;
        color: #dfb134;
      }
    }
    .input {
      position: absolute;
      left: 0;
      top: 62%;
      width: 20%;
      height: 8%;
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9;
      border-bottom: solid 2px #dfb234;
      &.focus {
        border-bottom: solid 4px #dfb234;
      }
      &.error {
        border-bottom-color: red;
      }
      &.name {
        left: 18%;
      }
      &.purpose {
        left: 40%;
        .purpose-list {
          position: absolute;
          width: 100%;
          margin: 0;
          padding: 0;
          left: 0;
          top: 110%;
          display: none;
          li {
            list-style: none;
            border-bottom: solid 1px #dfb134;
            border-bottom: solid 1px rgba(223, 178, 52, 0.4);
            text-align: center;
            color: #777;
            padding: 5% 0;
            cursor: pointer;
            background-color: #000;
          }
        }
      }
      &.time {
        left: 62%;
        &.focus {
          background-image: url(../img/form-input-bg.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 4%;
          .time-input {
            display: block;
          }
          .time-placeholder {
            display: none;
          }
        }
        .time-input {
          height: 100%;
          overflow: hidden;
          display: none;
          input {
            width: 50%;
            float: left;
          }
        }
        .time-placeholder {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 16px;
          letter-spacing: 2px;
          color: #777;
          cursor: text;
        }
      }
    }
    .submit {
      position: absolute;
      left: 84%;
      top: 62%;
      width: 4.5%;
      height: 8%;
      background: url(../img/form-icon.png) #dfb234 no-repeat center;
      background-size: 40%;
      opacity: 0.3;
      filter: alpha(opacity=20);
      cursor: default;
      transition: all 0.2s ease-in-out;
      &.active {
        cursor: pointer;
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
      padding: 0;
      margin: 0;
      text-align: center;
      color: #fff;
      font-family: @font-family-sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      &::-webkit-input-placeholder {
        color: #777;
      }
      &:-moz-placeholder {
        color: #777;
      }
      &::-moz-placeholder {
        color: #777;
      }
      &:-ms-input-placeholder {
        color: #777;
      }
    }
  }
}

#avatar-modal {
  width: 50%;
  display: inline-block;
}

.avatar-wrapper {
  outline: dashed 1px #dfb234;
  margin-bottom: 5%;
}

.avatar-save {
  margin-left: 5%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #form {
    .form {
      input {
        font-size: 1.1em;
      }
    }
    .upload .text {
      font-size: 1em;
      letter-spacing: 2px;
    }
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  #form {
    .form {
      input {
        font-size: 0.8em;
      }
      .upload .text {
        font-size: 0.7em;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  #form {
    .form {
      input {
        font-size: 0.7em;
      }
      .upload .text {
        font-size: 0.6em;
        letter-spacing: 2px;
      }
    }
  }
}