#form {
  background: url(../img/form-bg.jpg) no-repeat;
  background-size: cover;
  .header {
    text-align: center;
    color: #fff;
    padding-bottom: 10%;
    img {
      display: block;
    }
    .text1 {
      margin: 0 auto;
      width: 20%;
    }
    .headline {
      width: 45%;
      margin: 1% auto 2%;
    }
    .text2 {
      margin: 0 auto;
      width: 40%;
    }
  }
  .inputs {
    .upload {
      position: absolute;
      left: 18%;
      top: 74%;
      .file {
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      .text {
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: 2px;
        color: #dfb134;
      }
    }
    .input {
      position: absolute;
      left: 0;
      top: 62%;
      width: 20%;
      height: 8%;
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom: solid 2px #dfb234;
      box-sizing: border-box;
      &.name {
        left: 18%;
      }
      &.type {
        left: 40%;
      }
      &.time {
        left: 62%;
      }
    }
    .submit {
      position: absolute;
      left: 84%;
      top: 62%;
      width: 7.3%;
      height: 8%;
      background: url(../img/form-icon.png) #dfb234 no-repeat center;
      background-size: 40%;
      opacity: 0.3;
      cursor: default;
      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }
    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      text-align: center;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      &::-webkit-input-placeholder {
        color: #777;
        letter-spacing: 2px;
      }
      &:-moz-placeholder {
        color: #777;
        letter-spacing: 2px;
      }
      &::-moz-placeholder {
        color: #777;
        letter-spacing: 2px;
      }
      &:-ms-input-placeholder {
        color: #777;
        letter-spacing: 2px;
      }
    }
  }
}


@media screen and (min-width: 581px) and (max-width: 768px) {
  #form {

  }
}


@media screen and (max-width: 580px) {
  #form {

  }
}