#ie {
  #wrapper {
    width: 1000px;
    height: 562px;
    top: 0;
  }
  #form {
    background-image: none;
    .input {
      input {
        line-height: 45px;
      }
      .time-placeholder {
        height: 45px;
      }
    }
    .upload {
      text-align: left;
     .file {
      opacity: 1;
      width: auto;
      position: static;
     }
    }
   .submit {
     background: url(../img/form-icon3.png) no-repeat;
       width: 47px;
       height: 47px;
      &.active {
        background: url(../img/form-icon4.png) no-repeat
      }
   }
  }
  #ending {
    background-image: none;
    .btns .item {
      opacity: 1;
    }
  }
  .backend-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .front-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .frame {
    &.ie-frame {
      display: none;
    }
    .frame-text {
      position: absolute;
      font-size: 2em;
    }
  }
  #ugc-content {
    position: absolute;left: 389px;top: 149px;height: 132px;width: 240px;font-size: 2em;
  }
  #ugc-content-img {
    position: absolute; width: 240px; height: 132px
  }
}