#ie {
  #form {
    background-image: url(../img/ie/0.jpg);
  }
  #ending {
    background-image: url(../img/ie/11.jpg);
  }
  .frame {
    &.ie-frame {
      display: block;
      opacity: 0;
    }
    .frame-text {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}