#loading {
  background-color: #000;
  .loading-bar {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 2px;
    background-color: #433510;
    .now {
      width: 0%;
      height: 2px;
      background-color: #dfb134;
      transition: all 0.2s ease-in-out;
    }
  }
}

#loading-bar-wrapper {
  cursor: pointer;
  width: 16.5%;
  height: 14.4%;
  display: inline-block;
  background: url('../img/btn-movie-loading.png');
  background-size: cover;
  position: relative;

  &.ready {
    background: url('../img/btn-movie-ready.png');
    background-size: cover;
  }

  .loading-bar {
    position: absolute;
    background-color: #dfb134;
  }

  .loading-bar-top {
    width: 0%;
    height: 2px;
    top: 0;
  }
  .loading-bar-bottom {
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
  }

  .loading-bar-left {
    height: 0%;
    width: 2px;
    left: 0;
    bottom: 0;
  }
  .loading-bar-right {
    height: 0%;
    width: 2px;
    right: 0;
  }
}
