#loading {
  .loading-bar {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 2px;
    background-color: #433510;
    .now {
      width: 0%;
      height: 2px;
      background-color: #dfb134;
      transition: all 0.2s ease-in-out;
    }
  }
}


@media screen and (min-width: 581px) and (max-width: 768px) {
  #loading {

  }
}


@media screen and (max-width: 580px) {
  #loading {

  }
}