@import "normalize.less";
@import "variables.less";
@import "toy.less";
@import "bottle.less";
@import "form.less";
@import "end.less";
@import "frame1.less";
@import "frame2.less";
@import "frame3.less";
@import "frame4.less";
@import "toast.less";
@import "cropper.less";
@import "loading.less";
@import "caption.less";
@import "ie.less";

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: @font-family-sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  user-select: none;
}

a {
  text-decoration: none;
  color: #dfb134;
}

#wrapper {
  position: relative;
  overflow: hidden;
  top: 50%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 2%;
  top: 3%;
  width: 15.6%;
  z-index: 999;
}


#stage {
  width: 100%;
  height: 100%;
  .frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

    .bg {
      width: 100%;
      height: 100%;
      transform-origin: center center;
      background-size: cover;
    }
  }
}

.responsive {
  width: 100%;
  height: auto;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9999;
  overflow: scroll;
  .crop {
    width: 600px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -300px;
  }
  &.buy-tip-overlay {
    .box {
      text-align: right;
      padding-right: 5%;
      margin-top: 10%;
      img {
        width: 75%;
      }
    }
  }
  &.landscape-overlay {
    img {
      width: 40%;
    }
  }
}

.sharing-box-inner {
  display: inline-block;
  position: relative;
  padding: 4% 4% 3%;
  background-color: rgba(0,0,0,0.8);
  .share {
    width: 10%;
    display: inline-block;
    margin: 0 2%;
    img {
      opacity: 0.7;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  #current-url {
    width: 80%;
    margin: 0 auto 8%;
    text-align: center;
    border-bottom: solid 2px #dfb234;
    background-color: #000;
    padding: 6% 0 4%;
    a {
      color: #fff;
      letter-spacing: 1px;
    }
  }
  .close {
    position: absolute;
    right: 3%;
    top: 9%;
    width: 4%;
  }
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/loading.gif") no-repeat center #fff;
  opacity: .7;
  z-index: 20140628;
}

#footer-page {
  background: url(../img/ct-bg.jpg) no-repeat center top;
  background-size: contain;
  color: #cccccc;
  font-family: "Microsoft YaHei", simhei;
  line-height: 1.8em;
  padding: 100px 10%;
  text-align: justify;
  position: relative;
  .logo {
    position: absolute;
    left: 5%;
    top: 30px;
    width: 12%;
  }
  h1 {
    color: #dfb134;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 5px;
  }
  h4 {
    color: #dfb134;
    margin: 50px 0 10px;
    font-size: 1.2em;
  }
}

#qrcode, .share-tip-overlay {
  z-index: 99999;
}

.footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  color: #ccc;
  color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  letter-spacing: 2px;
  box-sizing: border-box;
  overflow: hidden;
  .home {
    color: #ccc;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 5%;
    margin-right: 2%;
    font-size: 1.2em;
    letter-spacing: 0px;
  }
  .links {
    padding-bottom: 2px;
    color: #ccc;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1%;
    display: inline-block;
    border-bottom: solid 1px #ccc;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  }
  .icon-share {
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 100%;
    cursor: pointer;
  }
}

.hide {
  display: none;
}

#loading {
  z-index: 99999;
}
#movie-loading {
  z-index: 900;
}
#form {
  z-index: 888;
}

#caption {
  z-index: 777;
}

#toast-first {
  z-index: 666;
}

#toast {
  z-index: 555;
}

#frame1 {
  z-index: 444;
}

#frame2 {
  z-index: 333;
}

#frame3 {
  z-index: 222;
}

#frame4 {
  z-index: 111;
}

#bottle {
  z-index: 11;
}

#ending {
  z-index: 12;
}

#hand {
  z-index: 700;
}


.movie-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url('../img/vignette.png');
  background-size: cover;
}


.audiojs {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#hands {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#hands, #ending, .logo, .foreground {
  transition: all 0.8s linear;
}

@media screen and (min-width: 581px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  #footer-page {
    .logo {
      width: 20%;
    }
  }
}

@media screen and (max-width: 580px) {
  .footer {
    font-size: 8px;
  }

  #footer-page {
    font-size: 12px;
    .logo {
      width: 30%;
    }
  }
}