#frame1 {
  display:none;

  .bg1 {
    background: #000 url('../img/frame1-bg.jpg') center center;

    &.bg2 {
      background: #000 url('../img/frame1-bg2.jpg') center center;
      background-size: cover;
    }
  }

  .model {
    position: absolute;
  }

  .model1 {
    width: 48rem * 0.6;
    height: 67.5625rem * 0.6;
    bottom: 0rem;
    left: 48%;
    background: url('../img/model1.png');
    background-size: cover;
  }

  .model2 {
    width: 25.875rem * 0.6;
    height: 52.625rem * 0.6;
    left: 25%;
    bottom: 0;
    background: url('../img/model2.png');
    background-size: cover;
  }
}

#hand {
  position: absolute;
  right: 0px;
  display: inline-block;
  img {
    width: 60%;
    float: right;
  }
}