#hand {
  position: absolute;
  right: 0px;
  display: inline-block;
  img {
    width: 60%;
    float: right;
  }
}


@media screen and (min-width: 581px) and (max-width: 768px) {
  #hand {

  }
}


@media screen and (max-width: 580px) {
  #hand {

  }
}